[submodule "cs2511-gradle-8.8-ass1/assignment-i"]
path = cs2511-gradle-8.8-ass1/assignment-i
url = git@nw-syd-gitlab.cseunsw.tech:COMP2511/25T2/STAFF/repos/assignment-i.git
[submodule "cs2511-gradle-8.8-ass2/assignment-ii"]
path = cs2511-gradle-8.8-ass2/assignment-ii
url = git@nw-syd-gitlab.cseunsw.tech:COMP2511/25T2/STAFF/repos/assignment-ii.git
